<div class="bg-grad"><div class="clouds">
    <div class="cloud x1"></div>
</div>
<div class="bg-layer color-1"></div>
<div class="bg-layer color-2"></div>
<div class="bg-layer color-3 on"></div>
<div class="bg-layer color-4"></div></div>

<div id="content">

    <!-- Intro Header -->
    <section class="intro section-1 color-1">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">KINETIC HUMAN INTERFACE</h1>
                        <p class="intro-text">We will transform your smartphone in your personal trainer.</p>
                        <a href="#" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="nada" class="container content-section text-center section-2 color-2">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About KHI</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum dignissim nibh eu blandit. Nullam dictum diam vulputate, hendrerit dui id, fringilla erat. Duis sit amet ipsum mi. Aliquam faucibus, tellus posuere sollicitudin dignissim, elit purus interdum neque, sit amet gravida </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum dignissim nibh eu blandit. Nullam dictum diam vulputate, hendrerit dui id, fringilla erat. Duis sit amet ipsum mi. Aliquam faucibus, tellus posuere sollicitudin dignissim, elit purus interdum ne</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="nice" class="content-section text-center section-3 color-3">
        <div class="nice-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2> Pietro</h2>
                    <p>lalalalallalala</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center section-4 color-4">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact </h2>
                <p>FLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum dignissim nibh eu blandit. Nullam dictum diam vulputate, hendrerit dui id, fringilla erat. Duis sit amet ipsum mi. Aliquam faucibu
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<!-- /.container -->
